<div class="form-group">
    <form action="/" method="POST">
        <h2>Sprzedaj</h2>
        <label for="produkt">Wybierz produkt:</label>
        <select id="produkt" name="product">
            {% for product in contents.products %}
                <option value="{{ product }}">{{ product }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="price">Cena:</label>
        <input id="price" name="price" type="number" placeholder="wpisz cenę w groszach">
        <br>
        <label for="pices">Ilosc sztuk:</label>
        <input id="pices" name="pices" type="number" placeholder="wpisz ilość sztuk">
        <br>
        <button value="sell" type="submit">Zapisz</button> <button type="reset">Wyczyść</button>
    </form>
</div>
