<div class="form-group">
    <form class ="form-horizontal" action="/" method="POST">
        <input type="hidden"  name="action" value="sprzedaz">
        <h2>Sprzedaj</h2>
        <label for="produkt">Wybierz produkt:</label>
        <select id="produkt" name="product" required>
            <option disabled selected>wybierz produkt</option>
            {% for product in contents.products.keys() %}
                <option value="{{ product }}">{{ product }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="price">Cena:</label>
        <input id="price" name="price" type="number" placeholder="wpisz cenę w groszach">
        <br>
        <label for="pices">Ilosc sztuk:</label>
        <input id="pices" name="pices" type="number" placeholder="wpisz ilość sztuk">
        <br>
        <button class="btn btn-lg " type="submit">Zapisz</button>
        <button class="btn btn-lg " type="reset">Wyczyść</button>
    </form>
</div>
