<div class="form-group">
    <form action="/" method="POST">
        <h2>Dodaj produkt</h2>
        <input type="hidden"  name="action" value="zakup">
        <input name="price" type="hidden" value="0">
        <input name="pices" type="hidden" value="0">

        <label for="name">Dodaj produkt:</label>
        <input id="name" name="product" type="text" placeholder="wpisz nazwę">
        <br>
        <button class="btn btn-lg" type="submit">Zapisz</button>
        <button class="btn btn-lg" type="reset">Wyczyść</button>
    </form>
</div>
