{% extends "main.html" %}
{% block title %}{{contents.title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}

{{ super() }}
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Lp.</th>
      <th>Nazwa akcji</th>
      <th>Wartości</th>
    </tr>
  </thead>
  <tbody>
    {% for line in contents.history %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ line.akcja }}</td>
        <td>{{ line.parametry }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}