{% extends "main.html" %}
{% block title %}{{contents.title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}

{{ super() }}
{% endblock %}

{% block content %}
    <div>
      <h2>Stan konta : {{ contents.stan/100 }}zł</h2>
    </div>
    {% if contents.error != None %}
        <div class="error text-error">
            <p><b>{{contents.error}}!</b></p>
        </div>
        <br>
    {% endif %}
    <div class="columns">
      <div class="column col-4">
        {% include 'form_saldo.html' %}
        {% include 'form_add_product.html' %}
      </div>

      <div class="column col-4">
        {% include 'form_sell.html' %}
      </div>

      <div class="column col-4">
        {% include 'form_buy.html' %}
      </div>
    </div>

    <div>
        <div>
            <br>
            <br>
            <h2>Stan Magazynu</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Lp.</th>
                        <th>nazwa produktu</th>
                        <th>ilość w magazynie</th>
                    </tr>
                </thead>
                <tbody>

                        {% for product, ilosc in contents.products.items() %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ product }}</td>
                            <td>{{ ilosc }}</td>
                        </tr>
                        {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
{% endblock %}