<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    {% block head %}
    <title>Menager - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>

    <div class="columns " >

      <div class="col-2"></div>

      <div class="column col-8">

        {% include 'header.html' %}

        <div id="content" class="bg-gray" style="height:100%">

          {% block content %}{% endblock %}

        </div>

        {% include 'footer.html' %}

      </div>

      <div class="col-2"></div>

    </div>

  </body>

</html>